:{$PORT} {
	handle /dashboard* {
		reverse_proxy mycelium-frontend-console.railway.internal:3001
	}

	handle /api* {
		reverse_proxy mycelium-backend.railway.internal:8000
	}

	handle {
		reverse_proxy mycelium-frontend-commerce.railway.internal:3000
	}
}
